@font-face {
  font-family: 'Avenir-Next';
  src: url("assets/fonts/Avenir-next/AvenirNextLTPro-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Avenir-Next-Bold';
  src: url("assets/fonts/Avenir-next/AvenirNextLTPro-Bold.otf") format("opentype");
}

@keyframes backgroundImg {
  0% { transform: rotateZ(0deg) };
  25% { transform: rotateZ(180deg) };
  50% { transform: rotateX(180deg) };
  75% { transform: rotateZ(180deg)};
  100% {transform: rotateY(180deg) };
}