@font-face {
  font-family: 'Avenir-Next';
  src: url("assets/fonts/Avenir-next/AvenirNextLTPro-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Avenir-Next-Medium';
  src: url("assets/fonts/Avenir-next/AvenirNext-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Avenir-Next-Demi-Bold';
  src: url("assets/fonts/Avenir-next/AvenirNext-DemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Avenir-Next-Bold';
  src: url("assets/fonts/Avenir-next/AvenirNextLTPro-Bold.otf") format("opentype");
}


html {
  font-family: 'Avenir-Next, sans-serif';
}

@keyframes backgroundImg {
  0% { transform: rotateZ(0deg) };
  25% { transform: rotateZ(180deg) };
  50% { transform: rotateX(180deg) };
  75% { transform: rotateZ(180deg)};
  100% {transform: rotateY(180deg) };
}

/**
* SIGN IN 
*/
.firebaseui-container {
  background: 'white';
  margin-bottom: 15px;
  min-height: 15rem;
  padding-top: 10px;
  /* border-radius: 20px; */
  box-shadow: none;
}
.firebaseui-container.firebaseui-page-provider-sign-in {
  background: #F5F4F2;
  /* border-radius: 25px; */
  box-shadow: none;
  min-height: 25rem;
  margin-bottom: 15px;
  padding-top: 0;
}
.firebaseui-container.firebaseui-id-page-callback {
  background: transparent;
  box-shadow: none;
  margin-top: 40px;
  height: 84px;
  min-height: 0;
  margin-bottom: 0;
  padding-top: 0;
}
.firebaseui-card-header {
  display: none;
}
.firebaseui-subtitle, .firebaseui-text {
  color: rgba(255, 255, 255, 0.87);
}
.firebaseui-form-actions .mdl-button--raised.mdl-button--colored.firebaseui-button {
  background: rgba(0, 0, 0, 0.1);
}
.firebaseui-id-dismiss-info-bar {
  display: block;
}
.firebaseui-info-bar {
  border: 0;
  border-radius: 10px;
  left: 5%;
  right: 5%;
  top: 10%;
  bottom: 10%;
}

.firebaseui-container.mdl-card {
  background: #F5F4F2;
  font-family: 'Avenir-Next-Demi-Bold';
}

.firebaseui-form-actions .mdl-button--raised.mdl-button--colored.firebaseui-button {
  background-color: #F24A7E;
  font-family: 'Avenir-Next-Demi-Bold';
  border-radius: 4px;
}

.firebaseui-id-secondary-link.firebaseui-button.mdl-button.mdl-js-button.mdl-button--primary {
  color: #F24A7E;
}

.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
  color: #F24A7E !important;
}

.mdl-textfield__label:after {
  background-color: #F24A7E !important;
}

.firebaseui-label {
  color: #363239 !important;
  font-size: 14px !important;
}

.mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.is-focused .mdl-textfield__label {
  color: #F24A7E !important;
  font-size: 12px !important;
}

.mdl-card .mdl-shadow--2dp .firebaseui-container .firebaseui-id-page-sign-in {
  box-shadow: none;
  min-height: 25rem;
}

.mdl-card {
  min-height: 25rem !important;
}

.firebaseui-card-content {
  margin-bottom: 2rem;
}



/**
* IMAGE GALLERY
*/
.image-gallery-content {
  z-index: 9999;
}
.image-gallery-slide {
  background: transparent !important;
}

.image-gallery-image img {
  border-radius: 4px;
  z-index: 9999;
}
.image-gallery-bullets .image-gallery-bullet.active {
  background: #091633 !important;
  border-color: #091633;
  box-shadow: none;
}

.image-gallery-bullets .image-gallery-bullet {
  padding: 3px !important;
  background: rgba(9, 22, 51, 0.46) !important;
  border-color: rgba(9, 22, 51, 0.46) !important;
  box-shadow: none !important;
}

/**
* Autofill
*/
/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #091633 inset;
  -webkit-text-fill-color: #FFFFFF;
} */